{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1>
    {{ title }}
    <a href="{% url 'students:student_create' %}" class="btn btn-success btn-lg">
        Добавить студента
    </a>
  </h1>
  {% if students %}
    <table class="table">
      <thead>
        <tr>
          <th style="width: 20%" scope="col">Фамилия</th>
          <th style="width: 15%" scope="col">Имя</th>
          <th style="width: 20%" scope="col">Отчество</th>
          <th style="width: 10%" scope="col">Пол</th>
          <th style="width: 20%" scope="col">Кафедра</th>
          <th style="width: 15" scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>
              {{ student.last_name }}
            </td>
            <td>
              {{ student.first_name }}
            </td>
            <td>
              {{ student.middle_name }}
            </td>
            <td>
              {{ student.get_sex_display }}
            </td>
            <td>
              {{ student.department }}
            </td>
            <td>
              <a href="{% url 'students:student_detail' student.pk %}" class="btn btn-outline-primary btn-sm">
                  Просмотр
              </a>
              <a href="{% url 'students:student_delete' student.pk %}" class="btn btn-outline-danger btn-sm">
                  Удалить
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>Список студентов пуст</h2>
  {% endif %}
  <div>
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
