{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div>
    <h1>{{ title }}
      <a href="{% url 'students:teacher_create' %}" class="btn btn-success btn-lg">
          Добавить преподавателя
      </a>
    </h1>
  </div>
  {% if teachers %}
    <table class="table">
      <thead>
        <tr>
          <th style="width: 20%"  scope="col">Фамилия</th>
          <th style="width: 15%"  scope="col">Имя</th>
          <th style="width: 20%"  scope="col">Отчество</th>
          <th style="width: 10%"  scope="col">Пол</th>
          <th style="width: 20%"  scope="col">Кафедры</th>
          <th style="width: 15%"  scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
          <tr>
            <td>
              {{ teacher.last_name }}
            </td>
            <td>
              {{ teacher.first_name }}
            </td>
            <td>
              {{ teacher.middle_name }}
            </td>
            <td>
              {{ teacher.get_sex_display }}
            </td>
            <td>
              {% for department in teacher.departments.all %}
                {{ department }}<br>
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'students:teacher_detail' teacher.pk %}" class="btn btn-outline-primary btn-sm">
                  Просмотр
              </a>
              <a href="{% url 'students:teacher_delete' teacher.pk %}" class="btn btn-outline-danger btn-sm">
                  Удалить
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>Список преподавателей пуст</h2>
  {% endif %}
  <div>
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
